<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<!-- Cấu hình client settings -->
	<appSettings>
		<add key="DefaultServerIP" value="127.0.0.1" />
		<add key="DefaultPort" value="8080" />
		<add key="DefaultUsername" value="User1" />
		<add key="AutoConnect" value="false" />
		<add key="DownloadPath" value="Downloads" />
	</appSettings>
</configuration>
